{% extends 'publicaciones/base.html' %}

{% block contenido %}

    <h2>Últimas Publicaciones</h2>
    
    {% for publicacion in object_list %}
    <article>
        <h3><a href="{% url 'publicaciones:detalle' slug=publicacion.slug pk=publicacion.pk %}">{{ publicacion.titulo }}</a></h3>
        <p>Categoría: **{{ publicacion.categoria.nombre }}** | Autor: **{{ publicacion.autor.username }}**</p>
        <p>{{ publicacion.contenido|truncatewords:20 }}</p> 
        <hr>
    </article>
    {% empty %}
        <p>No hay publicaciones disponibles.</p>
    {% endfor %}

{% endblock contenido %}