<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog de Noticias</title>
    <link rel="stylesheet" href="css/index.css">

</head>
<body>
    
    <header>
        <nav>
            <ul>
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Categorías</a></li>
                <li><a href="AcercaDe.html">Acerca de</a></li>
                <li><a href="Form.html">Contacto</a></li>
            
            </ul>
        </nav>
    </header>

    <main class="container">
        <p>HOLAS    </p>
    </main>

    <footer>
        <p>&copy; 2025 Informatorio Chaco - Desarrollo Web</p>
        <p>Síguenos en redes sociales.</p>
    </footer>

    {% block extra_js %}
    {% endblock %}
</body>
</html>